<launch>
    <!--Publish camera info for Surface pro 6-->
    <node name="surface_pro_6_info" pkg="virtual_camera_client" type="camera_info_publisher">
        <param name="camera_info" value="$(find virtual_camera_client)/config/surface_pro_6.yaml" />
        <param name="image_topic" value="/client/camera/image_raw/compressed" />
    </node>

    <node name="client_camera" pkg="virtual_camera_client" type="camera_publisher">
        <param name="device_id" value="0" />
        <param name="rate" value="25" />
    </node>

</launch>